@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

* {
  font-family: 'Montserrat';
  /* color:#FFFFF3; */
}

.MuiButton-root {
  border-radius: 0px;
  color: #FFFFFF;
  background-color: transparent;

  /* Underline on hover*/
  background-image: linear-gradient(#201E50, #201E50);
  background-size: 0 4px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out;
}

.MuiButton-root:hover {
  background-size: calc(100%) 4px, 0;
  background-color: transparent;
}

/* 
.MuiButton-root:active {
  background-color: #005E5D;
} */
.splitScreen {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.aboutTextDiv {
  width: 50%;
  align-self: center;
}

.aboutPictureDiv {
  width: 50%;
}

.aboutText {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.aboutPicture {
  display: block;
  width: 90%;
  margin-right: auto;
}

.MuiCardMedia-root {
  /* display: block;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-position: center;
  background-position: center; */
  width: 100%;
  aspect-ratio: 16/9;
}

.header {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #686E8D;
  opacity: 0.5;
  margin-bottom: 3rem;
  height: 100vh;
  transition: height 3s, opacity 3s; */
  /* position: fixed; */

  position: fixed;
  /* Sit on top of the page content */
  /* display: block; */
  /* Hidden by default */
  justify-content: center;
  width: 100vw;
  /* min-height: auto; */
  /* Full width (cover the whole page) */
  height: 100vh;
  margin-bottom: 3rem;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  /* right: 0;
  bottom: 0; */
  /* background-color: #686E8D; */
  background-color: rgba(104, 110, 141, 1);
  /* opacity: 0.5; */
  transition: height 2s, background-color 3s;
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
}

.headerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* top: 50%;
  transform: translateY(-50%); */
  position: relative;
}

.siteName {
  color: #FFFFFF;
  font-weight: 100;
  text-decoration: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes visibilityChange {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 0;
  }
}

.menuButtons {
  display: flex;
  flex-direction: row;
  /* justify-self: center; */
  min-width: 30rem;
  /* justify-items: space-around; */
  width: 60%;
  animation: fadeIn 3s linear 1s, visibilityChange 1s;
}

.quoteButton {
  animation: fadeIn 3s linear;
}

.individualMenuItem {
  width: 100%;

}

.LandingPage {
  /* height: 100vh; */
}

.outletDiv {
  margin-top: 10rem;
  height: max-content;
}
